* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 90px;
    width: 100%;

    img {
        height: auto;
        width: 110px;
    }
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 50px;

    a {
        text-decoration: none;
        color: #fff;
        transition: 0.2s;

        &:hover {
            color: rgb(88, 6, 6);
        }
    }
}

/* começo hero */
.hero {
    width: 100%;
    height: 95vh;
    overflow: hidden;

    video {
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}

.conteudo-hero {


    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    position: relative;


}

.texto-hero {

    max-width: 600px;
    padding: 16px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;

}

/* fim hero */

/* começo membros */
.membros {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: #7a1515;
}

.membro-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 10px;

    img {
        width: 250px;
        height: 280px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        ;
    }
}

.membro-texto {
    text-align: center;
    font-family: sans-serif;
    max-width: 250px;

}

/* fim membros */

/* historia inicio */
.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.historia-texto {
    background-color: #7a1515;
    color: white;
    padding: 40px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    text-align: justify;
}

/* historia fim */

/* Albuns Inicio */
.albuns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.albuns-imagem {
    display: flex;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    border: 4px solid #b10808;
    padding: 10px;
    max-width: calc(50% - 20px);
    align-items: flex-start;
    gap: 10px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        display: block;
    }
}

.albuns-texto {
    margin-top: 0;
    margin-left: 40px;

}

/* Albuns fim */

/* video-clipe inicio */
.video-clipe {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #7a1515;

    h2 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.video-clipe-video {
    flex: 1 1 300px;
    max-width: 350px;

    video {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.video-clipe-texto {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;

}

/* video-clipe fim */


